.about-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 0;
  grid-gap: 34px;
}

.about-layout img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.about-layout p {
  letter-spacing: 0.8px;
  line-height: 22px;
}
