.cart-layout {
  display: grid;
  grid-template-columns: 1fr;
  padding: 45px 0;
  grid-gap: 20px;
  letter-spacing: 0.8px;
}

.cart-table {
  width: 100%;
}

.cart-table tbody tr:nth-child(even) {
  background-color: var(--neutral-6);
}

.cart-table img {
  margin-right: 10px;
  border-radius: 3px;
}

.cart-table thead th {
  background-color: #cb626e;
  color: var(--white);
  padding: 10px;
}

.cart-highlight {
  background-color: #cb626e;
  color: var(--white);
  padding: 10px;
}

.cart-img {
  display: flex;
  align-items: center;
}

.cart-table td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  text-align: center;
}

.cart-input {
  margin-bottom: 20px;
}

.payForm p {
  margin-bottom: 27px;
}
