.home-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px 0;
  grid-gap: 34px;
}

.home-layout img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.home-layout p {
  letter-spacing: 0.8px;
  line-height: 22px;
}

.home-layout .highlight {
  /* background-color: #cb626e;

  width: fit-content;
  padding: 4px;
  border-radius: 3px; */
  color: #cb626e;
  font-weight: bold;
}
