.product-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  background-color: var(--neutral-6);
  box-shadow: 0 3px 7px 1px rgb(0 0 0 / 6%), 0 -3px 7px 1px rgb(0 0 0 / 7%);
  grid-gap: 10px;
  padding: 10px;
  border-radius: 3px;
  letter-spacing: 0.8px;
  position: relative;
}

.product-grid img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 3px;
}

.product-grid .fa-times {
  font-size: 18px;
  color: black;
}

.product-checkout {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: flex-end;
}

.product-quantity {
  position: absolute;
  background-color: var(--primary-1);
  bottom: 7%;
  left: 20%;
  padding: 2px;
  font-size: 14px;
  width: 18px;
  height: 17px;
  text-align: center;
  border-radius: 3px;
  color: var(--white);
}
